.styledFont {color:green; font-size: large;}
#styledImage {border: 10px solid burlywood; background-color: dodgerblue; padding: 20px; padding-left: 150px;padding-right: 150px;}
h1{text-align: center;}